# Python
*.pyc
Matching_Game/__pycache__/
Matching_Game/venv/
Matching_Game/.venv/
Matching_Game/.env

# Jupyter Notebooks
Matching_Game/*.ipynb_checkpoints/

# MacOS
.DS_Store
Thumbs.db

# Morphology game
venv/
__pycache__/
morphology_game/venv/
morphology_game/__pycache__/
